### SQL Review

1. Create a table of drivers with id, first name, last name
create table drivers (
  id serial primary key,
  first_name varchar,
  last_name varchar
);

create table vehicles (
  id serial primary key,
  make varchar,
  model varchar,
  driver_id integer references drivers(id)
);
1. Insert a few records into both drivers and vehicles. Include 3 records of drivers who have vehicles, belonging in the vehicles table

![](web-client.jpeg)

#### Minuplating data 

**INSERT**
INSERT INTO employees(id, name, age)
VALUES
    (1, 'John Doe', 30),
    (2, 'Jame Smith', 25);

**UPDATE- Modifying existing table**
UPDATE employees
SET age = 31 # the new values for those columns 
WHERE id = 1; # specify which rows to update

#or update multiple columns
UPDATE employees
SET name = 'John Buttersby', age = 32
WHERE id = 1;

**DELETE**
DELETE FROM employees
WHERE id = 1; # specify which rows to delete

#### QUERING DATA 

SELECT id, name, age
FROM employees;

* This query will return all rows of data in the employees table for the id, name, and age columns.

* If you want to retrive all columns for every row in the employees table 

SELECT * FROM employees;

**Filtering data**
SELECT id, name, age
FROM employees
WHERE age = 30; # can add comparision > 25;

##### STRUCTURING DATA 

**CREATE TABLE**
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    age INT,
    position VARCHAR(50)
);

**ALTER TABLE**

ALTER TABLE employees
ADD salary DECIMAL(10, 2) # salary colum
MODIFY POSITION VARCHAR(100) # modify position
DROP COLUMN age; #Drop age column

**DROP TABLE**
DROP employees;

#### JOINS GROUPING 

* INNER JOIN returns only the rows where there is a match in both tables based on the specified condition. If there’s no match, the row is excluded from the result

SELECT employees.name, departments.department_name
FROM employees
INNER JOIN departments
ON employees.id = departments.employees_id; #This will return only the employees who are assigned to a department

* The LEFT JOIN (or LEFT OUTER JOIN) returns all the rows from the left table and the matched rows from the right table. If there’s no match, the result will contain NULL for columns from the right table

SELECT employees.name, departments.department_name
FROM employees #table1
LEFT JOIN departments #table2 
ON employees.id = departments.employee_id; 

* RIGHT JOIN Returns all rows from the right table, and matched rows from the left table. If no match, returns NULL for left table columns.	All rows from the right table, and matching rows from the left table.

SELECT employees.name, departments.department_name
FROM employees
RIGHT JOIN departments
ON employees.id = departments.employee_id;

#### SQL ALCHEMY 
A Python liberary for working with relational database without RAW SQL
- It offers an ORM (Object Relational Mapping Library) which maps **table & Columns** to **class object & Attributs**

![](sqla.png)