### SQL Review

1. Create a table of drivers with id, first name, last name
create table drivers (
  id serial primary key,
  first_name varchar,
  last_name varchar
);

create table vehicles (
  id serial primary key,
  make varchar,
  model varchar,
  driver_id integer references drivers(id)
);
1. Insert a few records into both drivers and vehicles. Include 3 records of drivers who have vehicles, belonging in the vehicles table

![](web-client.jpeg)

#### Minuplating data 

**INSERT**
INSERT INTO employees(id, name, age)
VALUES
    (1, 'John Doe', 30),
    (2, 'Jame Smith', 25);

**UPDATE- Modifying existing table**
UPDATE employees
SET age = 31 # the new values for those columns 
WHERE id = 1; # specify which rows to update

#or update multiple columns
UPDATE employees
SET name = 'John Buttersby', age = 32
WHERE id = 1;

**DELETE**
DELETE FROM employees
WHERE id = 1; # specify which rows to delete

#### QUERING DATA 

SELECT id, name, age
FROM employees;

* This query will return all rows of data in the employees table for the id, name, and age columns.

* If you want to retrive all columns for every row in the employees table 

SELECT * FROM employees;

**Filtering data**
SELECT id, name, age
FROM employees
WHERE age = 30; # can add comparision > 25;

##### STRUCTURING DATA 

**CREATE TABLE**

CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    age INT,
    position VARCHAR(50)
);

**ALTER TABLE**


ALTER TABLE employees
ADD salary DECIMAL(10, 2) # salary colum
MODIFY POSITION VARCHAR(100) # modify position
DROP COLUMN age; #Drop age column

**DROP TABLE**

DROP employees;

#### JOINS GROUPING 

* INNER JOIN returns only the rows where there is a match in both tables based on the specified condition. If there’s no match, the row is excluded from the result

SELECT employees.name, departments.department_name
FROM employees
INNER JOIN departments
ON employees.id = departments.employees_id; #This will return only the employees who are assigned to a department



* The LEFT JOIN (or LEFT OUTER JOIN) returns all the rows from the left table and the matched rows from the right table. If there’s no match, the result will contain NULL for columns from the right table

SELECT employees.name, departments.department_name
FROM employees #table1
LEFT JOIN departments #table2 
ON employees.id = departments.employee_id; 



* RIGHT JOIN Returns all rows from the right table, and matched rows from the left table. If no match, returns NULL for left table columns.	All rows from the right table, and matching rows from the left table.

SELECT employees.name, departments.department_name
FROM employees
RIGHT JOIN departments
ON employees.id = departments.employee_id;

In [ ]:
#pycopg2 code 
# Import the psycopg2 library, which is used to interact with PostgreSQL databases
import psycopg2

# Establish a connection to the PostgreSQL database
# Replace 'dbname', 'user', 'password', and 'host' with your actual database credentials
connection = psycopg2.connect(
    dbname="your_db_name",    # Database name
    user="your_db_user",      # Database username
    password="your_db_password",  # Database password
    host="localhost",         # Host where the database is located, 'localhost' for local machine
    port="5432"               # Default PostgreSQL port
)

# Create a cursor object using the connection
# The cursor allows you to execute SQL queries and fetch results
cursor = connection.cursor()

# Execute a SQL query using the cursor object
cursor.execute("SELECT * FROM your_table_name;")  # Replace 'your_table_name' with the actual table name

# Fetch all results from the query
results = cursor.fetchall()  # 'fetchall' retrieves all rows of the query result

# Print the results
print(results)  # This will print a

#### SQL ALCHEMY 
A Python liberary for working with relational database without RAW SQL
- It offers an ORM (Object Relational Mapping Library) which maps **table & Columns** to **class object & Attributs**

![](sqlalchemy-layers.png)

![](sqlalchemy.png)

In [ ]:
# Mapping  Between Tables and Classes
#python class Human: 

class Human:
    # __init__ method is called when a new instance of the class is created
    # self is a reference to the instance of the object that is being created.
    # it allows the object to refer itself
    # When you create an instance of Human, you need to pass the values for first_name,
    # last_name, and age, and these values are stored in the instance variables self.first_name, 
    # self.last_name, and self.age
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age

# create object instances of the Human class
sarah = new Human("Sarah","Billo", 48)
bob = new Human("bob","ram",88)

#### Classes and database tables are similar
- **Tables** mapped to **classes**, **table record** mapped to class **object**, and **table columns** mapped to the **attributes** within that class
![](pysql.png)

#### Exercise 1: Hello App with Flask-SQLAlchemy - Part 1
Flask a very simple web framework for serving web pages with data


Flask-SQLAlchemy is a Flask extension that supports SQLAlchemy

![](database.png)

#### db.Model and Defining Models
**db** is an interface for interacting with our database

**db.Model** lets us create and manipulate data models

**db.session** lets us create and manipulate database transactions

In [ ]:
# Import Library
from flask import Flask
#SQLAlchemy is an Object-Relational Mapper (ORM) that allows you to interact with relational databases like PostgreSQL, MySQL, etc., 
#using Python objects instead of writing raw SQL queries.
from flask_sqlalchemy import SQLAlchemy

# This initializes a new Flask application object.
app = Flask(__name__)

app.config['SQLALCHEMY_DATABASE_URI'] = 'postgresql://postgres:abc@localhost:5432/example'

# This initializes the SQLAlchemy object, passing the Flask application instance app as an argument
db = SQLAlchemy(app)

class Person(db.Model):
  __tablename__ = 'persons'
  id = db.Column(db.Integer, primary_key=True)
  name = db.Column(db.String(), nullable=False)

# ability to customize a printable string
def __repr__(self):
    return f'<Person ID: {self.id}, name: {self.name}>'

db.create_all()


## For Query 
Person.query.all()
Person.query.first()

![](db.png)